<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} [%thread] ${LOG_LEVEL_PATTERN:-%5p} ${PID:- }  -- %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%rEx}}"/>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <springProperty scope="context" name="log_file_path" source="logging.file.path"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="jsonFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${log_file_path}/${application_name}.json.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${log_file_path}/application.%d{yyyy-MM-dd}.%i.json.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>50MB</totalSizeCap>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />

    </appender>

    <root level="INFO">
        <appender-ref ref="jsonFileAppender"/>
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>
